Source/Framework/Axiom.Framework/Configuration/AxiomConfigurationSection.csd.xsd

<?xml version="1.0"?>

<!--
<auto-generated>
		This code was generated by a tool.

		 Changes to this file may cause incorrect behavior and will be lost if
		the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="axiomConfigurationSection" elementFormDefault="qualified"
           targetNamespace="axiomConfigurationSection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="axiomConfigurationSection" type="tns:Axiom.Framework.Configuration.AxiomConfigurationSectionCT" />
  <xs:complexType name="Axiom.Framework.Configuration.AxiomConfigurationSectionCT">
    <xs:sequence>
      <xs:element minOccurs="0" name="plugins" type="tns:Axiom.Framework.Configuration.PluginsElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Plugins.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="resourceLocations"
                  type="tns:Axiom.Framework.Configuration.ResourceLocationElementCollectionCT">
        <xs:annotation>
          <xs:documentation>
            The ResourceLocations.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="renderSystems"
                  type="tns:Axiom.Framework.Configuration.RenderSystemElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The RenderSystems.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="logFilename" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The LogFilename.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.PluginElementCT">
    <xs:sequence></xs:sequence>
    <xs:attribute name="path" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Path.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="enabled" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The Enabled.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.PluginsElementCollectionCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pluginElement"
                  type="tns:Axiom.Framework.Configuration.PluginElementCT">
        <xs:annotation>
          <xs:documentation>
            The PluginElement Configuration Element.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="autoScan" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>The AutoScan.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="path" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Path.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.ResourceLocationElementCollectionCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resourceLocation"
                  type="tns:Axiom.Framework.Configuration.ResourceLocationElementCT">
        <xs:annotation>
          <xs:documentation>
            The ResourceLocationElement Configuration Element.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.RenderSystemElementCollectionCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="renderSystem"
                  type="tns:Axiom.Framework.Configuration.RenderSystemCT">
        <xs:annotation>
          <xs:documentation>
            The RenderSystem Configuration Element.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="defaultRenderSystem" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The DefaultRenderSystem.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.ResourceLocationElementCT">
    <xs:sequence></xs:sequence>
    <xs:attribute name="path" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Path.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="recurse" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Recurse.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="group" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Group.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.RenderSystemCT">
    <xs:sequence>
      <xs:element minOccurs="0" name="options"
                  type="tns:Axiom.Framework.Configuration.RenderSystemOptionElementCollectionCT">
        <xs:annotation>
          <xs:documentation>The Options.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.RenderSystemOptionElementCollectionCT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="option"
                  type="tns:Axiom.Framework.Configuration.RenderSystemOptionCT">
        <xs:annotation>
          <xs:documentation>
            The RenderSystemOption Configuration Element.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Axiom.Framework.Configuration.RenderSystemOptionCT">
    <xs:sequence></xs:sequence>
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" use="optional" type="xs:string">
      <xs:annotation>
        <xs:documentation>The Value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>